html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Roboto";
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body {
  font-family: "Roboto";
}

section {
  min-height: 100vh;
}

.blank {
  /* background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); */
  /* background-image: linear-gradient(to right, #1d4350, #a43931); */
  background: linear-gradient(
    to right,
    #8e2de2,
    #4a00e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flex-center {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-center p,
li {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 64px;
  color: #d9d9d9;
  font-weight: bold;
  font-style: italic;
  justify-content: space-around;
  list-style-type: none;
}

.flex-center h3 {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  font-size: 24px;
  font-style: oblique;
}

#imagekiri {
  height: 100vh;
  max-width: 85%;
}
#imagekanan {
  margin-bottom: 16px;
  width: 160px;
  height: 160px;
}

.navbar {
  position: fixed;
  padding: 20px 30px;
  top: 0;
  left: 0;
  right: 0;
  /* background-image: linear-gradient(to right, #c31432, #240b36); */
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navbar li input {
  padding: 0;
  border: 0;
  background: none;
  background-color: #08258b;
  margin-right: 20px;
  color: red;
  text-decoration: none;
  letter-spacing: 1.3px;
  font-weight: bold;
  cursor: pointer;
}

.navbar li:last-child a {
  margin-right: 0px;
}

.landing {
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);   */
  /* background-image: linear-gradient(to right, #333333, #dd1818); */
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
}

.kanan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  color: whitesmoke;
}

/* Media Query(Responsive Web) */
@media only screen and (max-width: 1280px) {
  .hamburger {
    display: flex !important;
    align-items: center;
    width: 32px;
    height: 32px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 32px 32px 0 0;
    cursor: pointer;
    z-index: 999;
  }

  .hamburger span {
    width: 100%;
    height: 2px;
    background-color: #25d4eb;
    position: relative;
  }

  .hamburger span::before,
  .hamburger span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #25d4eb;
  }

  .hamburger span::before {
    top: -10px;
  }

  .hamburger span::after {
    top: 10px;
  }

  .hamburger.active span {
    background-color: transparent;
  }

  .hamburger.active span::before,
  .hamburger.active span::after {
    top: 0;
  }

  .hamburger.active span::before {
    transform: rotate(45deg);
  }

  .hamburger.active span::after {
    transform: rotate(-45deg);
  }

  .navbar {
    position: fixed;
    display: flex;
    top: -100%;
    width: 100%;
    height: 8vh;
    z-index: 998;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: opacity(75%);
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }

  .navbar.active {
    top: 0%;
    background: linear-gradient(
      to right,
      #0f2027,
      #203a43,
      #2c5364
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .navbar li input {
    margin: 16px 0;
    font-size: 1.2em;
    font-family: "Roboto";
    background-color: #213d47;
  }

  #imagekiri {
    top: 0;
  }

  #imagekanan {
    width: 80px;
    height: 80px;
  }
  .kanan {
    font-size: 16px;
  }
  .kanan h4,
  h3 {
    font-size: 1em;
  }
  .flex-center {
    margin-top: 0;
  }

  @media only screen and (max-width: 750px) {
    .hamburger {
      height: 8px;
      width: 24px;
      margin: 24px 8px 0px 24px;
    }
    .navbar {
      height: 2vh;
    }
    .navbar li input {
      font-size: 0.8em;
      background-color: #213d47;
    }
    .kanan h4,
    h3 {
      font-size: 0.8em;
    }
    #imagekiri {
      height: 100vh;
      max-width: 65%;
    }
  }
}
